/*
          ==============================================================
                   Reset CSS
          ==============================================================
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
    display: block;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.clear {
    clear: both;
}
table {
    border-collapse: collapse;
    border-spacing: 0;}
a:hover { text-decoration: none }
/*
          ==============================================================
                   Main CSS
          ==============================================================
*/

.header {  background: #fff;  color: #f1f1f1;}
.sticky {  position: fixed;  top: 0;  width: 100%;  left: 0;  right: 0;  border-bottom: 1px solid #ccc}

#site-nav { display: inline-block; width: 100%; position: relative; z-index: 100; }
.info-header ul li i { padding-right: 10px; }
.site-branding {    border-bottom: 1px solid #ebebeb;}
.ace-responsive-menu { text-align: center;   list-style: none;   margin: 0;   padding: 0;   float:left;   width:100%;   z-index: 9900;   border-top: 1px solid #ebebeb;}
.ace-responsive-menu li{    list-style: none;}
.ace-responsive-menu li ul {    display:none;}
.ace-responsive-menu > li {    display: inline-block;    margin: 0;    padding: 0;    border: 0px;}
.ace-responsive-menu li a {        color:#232323;}
.ace-responsive-menu > li > a {    display: block;    position: relative;    margin: 0;    border: 0px;    padding: 15px;    text-decoration: none;    font-size: 17px;    font-weight: 300;    color: #232323; text-align: left;}
.ace-responsive-menu li a i {    padding-right: 5px;    color: #FF5737;}
.ace-responsive-menu > li > a i {    font-size: 16px;    text-shadow: none;    color: #FF5737;}
.ace-responsive-menu li ul.sub-menu li a i {    padding-right: 10px;}

.ace-responsive-menu li .menu-active {    position: relative;}
.ace-responsive-menu > li > a > .arrow:before {  margin-left: 2px; display: inline; font-size: 16px; font-family: FontAwesome; height: auto;  content: "\f107";  font-weight: 300; text-shadow: none;  width: 10px; display: inline-block; }
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {    content: "\f105" !important;}
.ace-responsive-menu > li > ul.sub-menu {    display: none;    list-style: none;    clear: both;    margin: 0;    position: absolute; background: #fff; border: 1px solid #ebebeb; border-top: none;}
.ace-responsive-menu li ul.sub-menu > li {    width: 220px;}
.ace-responsive-menu li ul.sub-menu li a {    display: block;    margin: 0px 0px;    padding: 12px 12px 12px 15px;    text-decoration: none;    font-size: 17px;    font-weight: normal;    background: none;  border-bottom: 1px solid rgba(0,0,0,.15); background: #fff; 
position: relative;z-index: 999;}
.ace-responsive-menu li ul.sub-menu li a:hover { color: #939393 }
.ace-responsive-menu > li > ul.sub-menu > li {    position: relative;    text-align: left;}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {    position: absolute;    left: 220px;    top: 0px;    display: none;    list-style: none;}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {    position: absolute;    left: 220px;    top: 0px;    display: none;    list-style: none;}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before { float: right; margin-top: 1px; margin-right: 0; display: inline; font-size: 16px; font-family: FontAwesome; height: auto; content: "\f067"; font-weight: 300; text-shadow: none;}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {    display: none;    float: left;    width: 100%;    z-index: 9900;border-top: 1px solid #ebebeb; padding: 15px 0;}
.menu-toggle h3 {    float: left;    color: #000;     font-size: 16px; text-transform: uppercase;}
.menu-toggle .icon-bar {    display: block !important;    width: 15px;    height: 2px;    background-color: #000 !important;    -webkit-border-radius: 1px;    -moz-border-radius: 1px;    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);    margin: 3px;}
.menu-toggle .icon-bar:hover {    background-color: #F5F5F5 !important;}
.menu-toggle #menu-btn {    float: left;    background: transparent;  cursor: pointer;  border: none;  }
.hide-menu {    display: none;}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {    width: 250px; }
ul[data-menu-style="accordion"] > li {        display: block;    margin: 0;    padding: 0;    border: 0px;    float: none !important;}
ul[data-menu-style="accordion"] > li:first-child {    border-top: 2px solid #FD5025;}
ul[data-menu-style="accordion"] li ul.sub-menu > li {    width: 100%;}
ul[data-menu-style="accordion"] > li > a > .arrow:before {    float: right;    content: "\f105";}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {    content: "\f107" !important;}
ul[data-menu-style="accordion"] > li > ul.sub-menu {    position: static;}
ul[data-menu-style="accordion"] > li > a i {    padding-right: 10px;    color: #FF5737; }
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {    position: static;}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {    position: static;}
ul[data-menu-style="accordion"] > li {    border-bottom: 1px solid #242424;}
ul[data-menu-style="accordion"] li a:hover {    background: #272727 !important;}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {    content: "\f107" !important;}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {    width: 200px;}
ul[data-menu-style="vertical"] > li {    float: none;}
ul[data-menu-style="vertical"] > li:first-child {    border-top: 2px solid #FD5025;}
ul[data-menu-style="vertical"] li ul.sub-menu > li {    width: 100%;}
ul[data-menu-style="vertical"] > li > a > .arrow:before {    float: right;    content: "\f105";}
ul[data-menu-style="vertical"] > li.menu-active {position:relative;}
ul[data-menu-style="vertical"] > li > ul.sub-menu {    position: absolute;    left:200px;    top:0px;    width:200px;}
ul[data-menu-style="vertical"] > li > a i {    padding-right: 10px;   color: #FF5737; }
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {    position: absolute;    width:200px;    left: 200px;}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {    position: absolute;    width:200px;    left: 200px;}
ul[data-menu-style="vertical"] > li {    border-bottom: 1px solid #242424;}
ul[data-menu-style="vertical"] li a:hover {    background: #272727 !important;}


/* Responsive Menu Styles
----------------------------------------*/

/*Note: change the max-width asper your requirment and change the same in aceResponsiveMenu({resizeWidth: "768" }) function*/
.slider { margin: 0 !important; }
.slider .slick-dots { bottom: 15px; }
.slider .slick-dots li { margin: 0; }
.slider .slick-dots li button::before { opacity: 1; font-size: 12px; }



/* Main
----------------------------------------*/
.block-cate { padding: 30px 0; }
.block-cate h5 { text-align: center; font-size: 16px; margin-bottom: 20px;  font-weight: bold; color: #4a4a4a; }
.display-block { display: block; }
.block-cate ul { display: flex; flex-flow: row;max-width: 1008px; margin: 0 auto; }
.block-cate ul li { display: inline-block; width: 100%; }
.block-cate a:hover { text-decoration: underline; }
.item-image { max-width: 100px; max-height: 100px; margin: 0 auto; }
.item-title { color: #333; margin-top: 10px; font-size: 14px; }
.block-featured h3 { text-align: center; font-size: 40px; color: #6e747a; }
.block-featured .container { max-width: 1510px; }
.box-featured { background-color: #f7f7f7; border: 1px solid #f2f2f2; display: inline-block; padding-bottom: 20px }
.box-featured p { font-size: 32px; color: #666; margin: 10px 0; }
.box-featured span { font-size: 18px; color: #404040; margin-bottom: 30px; max-height: 46px; display: block; }
.shop-now { text-transform: uppercase; font-size: 12px; color: #3e3e3e; border-bottom: 1px solid #3e3e3e; display: inline-block; }

.box-featured-mini { border: 1px solid #f2f2f2; display: inline-block; }
.box-featured-mini p { padding: .4vw 0 .8vw; color: #333; }
.row-box { margin-top: 30px; }
.row-box ul { display: flex;justify-content: space-between;-ms-flex-flow: row;flex-flow: row; }
.row-box ul li { display: block;flex-basis: 17% !important; }

.three-columns { border-top: 1px solid #f2f2f2 ;border-bottom:  1px solid #f2f2f2; text-align: center; }
.border2 { width: 42px; border-top: 4px solid #77899e; margin: 0 auto }
.box-t-co .title { padding: 1vw 0 .5vw; font-size: 20px; }
.box-t-co .des { font-size: 16px;  }

.shop-collection .container { max-width: 1510px; display: flex; }
.feature-hero { width: 650px;height: 805px;position: relative;background-position: 55% 93%;background-size: cover;background-position: bottom;background-repeat: no-repeat; }
.feature-products {    height: 830px !important;    max-height: 830px;    padding: 30px 0 64px 159px;    margin: -31px 0 0 -159px; display: -ms-flexbox;
    display: flex;-ms-flex-pack: distribute;justify-content: space-around;-ms-flex-align: center;align-items: center;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.feature-1, .feature-3, .feature-5, .feature-7, .feature-9 {    width: 170px;    margin: auto 25px;}
.feature-group {    height: 35%;}
.feature-group, .feature-group:nth-last-child(-n+3) { display: flex; }
.feature-2, .feature-4, .feature-6, .feature-8 {    width: 220px;    margin: 0;}
.products {    position: relative;    padding: 0;    display: block;}
.products, .products-1, .products-2, .products-3, .products-4, .products-5, .products-6, .products-7, .products-8, .products-9 {    width: 100%;}
.feature-1 .products img, .feature-3 .products img, .feature-5 .products img, .feature-7 .products img, .feature-9 .products img {    width: 170px;}
.products img {     box-shadow: 12px 14px 10px #e4e4e4;}
.feature-text {    font-size: 1.2vw;    letter-spacing: .5px;    line-height: 2vw;    opacity: 0;    margin: 0;    padding: 0;    position: absolute;    top: 0;    left: 0;    right: 0;    bottom: 0;    background-color: #7b7b7b;    color: #fff;
    box-shadow: 5px 8px 8px #eae6e5;    display: -ms-flexbox;    display: flex;    -ms-flex-direction: column;    flex-direction: column;    height: 100%;    -ms-flex-pack: center;    justify-content: center;    font-size: 14px;}
.feature-text2 { height: 220px; }
.feature-artwork {    font-style: italic; }
a.products:hover .feature-text {    opacity: .9;    line-height: 1.2vw; text-align: center;}
.shop-collection h3 { text-align: center; margin-top: 30px; font-size: 40px; color: #6e747a; padding-top: 30px; }
.two-columns { text-align: center; }
.two-columns h3 { text-align: center; font-size: 40px; color: #6e747a; }
.two-columns .container { max-width: 1510px;  }
.box-2col { display: inline-block; }
.box-2col p { font-size: 22px; color: #666; font-weight: bold;padding: 15px 0; }
.box-2col span { font-size: 18px; color: #404040;  padding-bottom: 15px; }

.text-more { bottom: 0;position: absolute;left: 0;right: 0;text-align: center; background: #efebe3; padding: 10px }
.text-more p { font-size: 38px; color: #59606d; }
.text-more span { padding: 10px 0; display: block; }


/* Footer
----------------------------------------*/
.widget {    margin: 0 0 1.5em;}
.site-info {    background: #686766;}
.site-info p {   height: 50px;    line-height: 50px;    color: #ebebeb;    font-size: 13px;    margin: 0;}
.footer-widget {    line-height: 25px;    background: #8b8987;}
.footer-widget span {    color: #fff;    text-transform: uppercase;    letter-spacing: 1px;    font-weight: 700;    margin: 25px 0 15px 0;    display: block;    font-size: 18px;}
.footer-widget ul li a {    font-size: 16px;    color: #fff;    margin: 0;    display: block;    padding: 0 0 5px 0;}
.footer-widget p {    margin-bottom: 1.5em;    color: #fff;    font-size: 16px;}
ul.footer-social {    margin: 0;    padding: 0;}
ul.footer-social li {    display: inline-block;    margin-right: 15px;}
.footer-social i {    font-size: 24px;}
.form-email { font-size: 14px; display: inline-block; width: 100%; }
.form-submit { background: #000;height: 40px;padding: 0 15px;z-index: 5;cursor: pointer;font-size: 13px;border-style: none;-webkit-appearance: none;color: #fff; }
hr {border-top: 2px solid #eee; margin-bottom: 10px !important;}

/*---------------------------------PRODUCT LIST------------------------------------*/

h1.shopcat-title {    text-align: center;    color: #fff;    font-weight: 400;    font-size: 50px;    margin: 0;    padding: 0;    line-height: 200px;}
.breadcrumbs-yoat {    background: #f7f7f7;    text-align: center;}
#breadcrumbs a, #breadcrumbs span {    color: #969696;    font-size: 16px;}
.product-list { margin-bottom: 30px; }
.sort-product {     border: 1px solid #d7d7d7;    padding: 9px 12px;    margin-bottom: 20px; }
.sort-product p {font-size: 20px; border-bottom: 1px solid #d7d7d7; padding-bottom: 10px; }
.sort-product ul { margin-top: 20px; margin-left: 10px; }
.sort-product i { color: #ff580b }
.sort-product ul li a { line-height: 35px; color: #000; font-size: 16px;  }
.sort-product ul li a:hover { text-decoration: underline;  color: #ff580b;  }

.list-product { display: grid;  grid-row-gap: 10px; grid-column-gap: 1%; grid-template-columns: repeat(auto-fill,minmax(203px,0fr));}

.product-container {width: auto;    -ms-flex-order: 0;    order: 0;    min-width: 0; border: 1px solid #e0e0e0; margin-bottom: 10px;}
.pdrNone { padding-right: 0; }
.des-pro { padding: 5px 10px; color: #333 }
.des-pro p { font-weight: bold; }
.des-pro span { padding: 10px 0; display: block; }
.des-pro .price { color: #f00; font-weight: bold; float: right; font-size: 20px; }
.des-pro .price sup { font-size: 12px; }

.page-title {border-bottom: 1px solid #ebebeb;border-top: 1px solid #ebebeb; }
.page-title h1{ text-align: center;  }

.about-container p { line-height: 25px; margin-bottom: 20px; }
.about-container span { font-size: 18pt; font-weight: bold; margin: 10px 0; display: block; }
.about-container h3 { font-size: 12pt; font-weight: bold; }
.img-p { text-align: center; margin: 20px 0; }

.contact-container { margin: 20px 0; }
#ct-des strong {    text-transform: uppercase;    font-weight: 700;    padding-bottom: 10px;    position: relative; font-size: 20px;}
#ct-des strong::after {    content: '';    position: absolute;    bottom: 0;    left: 0;    width: 128px;    height: 2px;    background-color: #38a6c1;    opacity: .3;    -ms-filter: "alpha(opacity='30')";    filter: alpha(opacity=30);}
.ctinfo-left ul {    margin-top: 15px;}
.ctinfo-left ul li {    border-bottom: 1px dotted #ebebeb;    padding: 12px 0;}
.ctinfo-left ul li i {    width: 30px;    text-align: center;    color: #9a9a9a;}
.map-responsive{    overflow:hidden;    padding-bottom:56.25%;    position:relative;    height:0;}
.map-responsive iframe{    left:0;    top:0;    height:100%;    width:100%;    position:absolute;}
ul.product-share li {    display: inline-block;    font-size: 33px;    padding-right: 8px;}

.product-right { font-size: 16px; line-height: 25px; }
.product-right strong { font-weight: bold; }
.product-share {    margin: 15px 0;    border-top: 1px dotted #ebebeb;    padding: 10px 0;    border-bottom: 1px solid #ebebeb;}
.fa.fa-facebook-square {    color: #306199;}
.fa.fa-twitter-square {    color: #26c4f1;}
.fa.fa-tumblr-square {    color: #314358;}
.fa.fa-google-plus-square {    color: #e93f2e;}
.fa.fa-pinterest-square {    color: #b81621;}

.img-main { border: 1px solid #ccc;  }
.img-list { max-width: 100px; max-height: 100px; border: 1px solid #ccc; overflow: hidden; margin-bottom: 10px; cursor: pointer; }

.product-left .slider-nav .slick-slide { display: contents !important;  }

.product-description p { font-size: 20px;  }
.product-description .star-rate { color: #FF5737; font-size: 16px; margin: 20px 0; }
.comments h5 { background: #ccc; padding: .5em; color: #000;}

.product-detail-related .list-product {     grid-template-columns: repeat(auto-fill,minmax(269px,0fr)); }
.product-detail-related h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
}
.product-detail-related h4::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120px;
    height: 1px;
    background-color: #38a6c1;
    opacity: .3;
    -ms-filter: "alpha(opacity='30')";
    filter: alpha(opacity=30);
}

/*---------------------------------RESPONSIVE------------------------------------*/



@media screen and (max-width: 768px) {
  .site-branding { text-align: center; }
  
  .ace-responsive-menu > li { display: block; }
    .demo {    width:96%;    padding:2%;    }
    ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],    ul[data-menu-style="vertical"] li ul.sub-menu {        width: 100% !important;    } 
    .ace-responsive-menu {        float: left;        width:100%;    }
    .ace-responsive-menu > li {        border-bottom: 1px solid rgba(0,0,0,.15);       float: none;    }   
    .ace-responsive-menu > li > a i {        padding-right: 10px;        color: #FF5737;     }
    .ace-responsive-menu > li > a > .arrow:before {        float: right;        content: "\f067";    }
    li.menu-active > a > .arrow:before {        content: "\f00d" !important;    }
    .ace-responsive-menu li ul.sub-menu > li {        width: 100%;    }
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li a        {        padding-left: 30px;    }  
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a        {        padding-left: 50px;    }  
    .ace-responsive-menu > li > ul.sub-menu {        position: static;    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {        position: static;    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {        position: static;    }
    .ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {        content: "\f00d" !important;    }
    .ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before { content: "\f067" !important; }
}

@media only screen and (min-width:320px){
    .site-logo img{        margin:0 auto    }
    .info-header{        text-align:center    }
    .footer-social ul{        text-align:center    }
    .site-info{        text-align:center    }
    .site-branding{        padding:0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }    
    .info-header ul li{        margin-bottom:5px;        font-size:13px;        line-height:15px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:480px){
    .site-logo img{        margin:0 auto    }
    .info-header{        text-align:center    }
    .footer-social ul{        text-align:center    }
    .site-info{        text-align:center    }
    .site-branding{        padding:0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }
    .info-header ul li{        margin-bottom:5px;        font-size:13px;        line-height:15px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:768px){
    .site-logo img{        margin:0 auto    }
    .info-header{        text-align:center    }
    .footer-social ul{        text-align:center    }
    .site-info{        text-align:center    }
    .site-branding{        padding:25px 0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }
    .info-header ul li{        margin-bottom:10px;        font-size:16px;        line-height:25px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:1024px){
    .site-logo img{        margin:0    }
    .info-header{        text-align:right    }
    .footer-social ul{        text-align:right    }
    .site-info{        text-align:center    }
    .site-branding{        padding:25px 0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }
    .info-header ul li{        margin-bottom:10px;        font-size:16px;        line-height:25px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:1140px){
    .site-logo img{        margin:0    }    
    .info-header{        text-align:right    }
    .footer-social ul{        text-align:right    }
    .site-info{        text-align:center    }
    .site-branding{        padding:25px 0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }
    .info-header ul li{        margin-bottom:10px;        font-size:16px;        line-height:25px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:1280px){
    .site-logo img{        margin:0    }
    .info-header{        text-align:right    }
    .footer-social ul{        text-align:right    }
    .site-info{        text-align:center    }
    .site-branding{        padding:25px 0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }    
    .info-header ul li{        margin-bottom:10px;        font-size:16px;        line-height:25px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:1600px){
    .site-logo img{        margin:0    }
    .info-header{        text-align:right    }
    .footer-social ul{        text-align:right    }
    .site-info{        text-align:center    }
    .site-branding{        padding:25px 0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }
    .info-header ul li{        margin-bottom:10px;        font-size:16px;        line-height:25px    }
    .site-logo h1{        margin:5px 0 0 0    }
}
@media only screen and (min-width:2000px){
    .site-logo img{        margin:0    }
    .info-header{        text-align:right    }
    .footer-social ul{        text-align:right    }
    .site-info{        text-align:center    }
    .site-branding{        padding:25px 0;        margin-bottom:5px    }
    .info-header{        padding-top:20px    }
    .info-header ul li{        margin-bottom:10px;        font-size:16px;        line-height:25px    }
    .site-logo h1{        margin:5px 0 0 0    }
}

@media (min-width:1200px) and (max-width:1365px) { }
@media (min-width:992px) and (max-width:1199px) {
.ace-responsive-menu > li > a { padding: 15px 8px; }
.feature-hero {    width: 41vw;    height: 51vw;    position: relative;    background-position: 55% 93%;}
.feature-products {    margin: -2vw 0 0 -10vw;    height: 52vw;    padding: 4vw 0 5vw 11vw;    max-height: 55vw;}
.feature-1 .products img, .feature-3 .products img, .feature-5 .products img, .feature-7 .products img, .feature-9 .products img {    width: 11vw;}
.feature-2 .products img, .feature-4 .products img, .feature-6 .products img, .feature-8 .products img {    width: 15vw;}
.feature-1, .feature-3, .feature-5, .feature-7, .feature-9 {    width: 11vw;    margin: auto 2vw;}
.feature-2, .feature-4, .feature-6, .feature-8 {    width: 15vw;    margin: 0; }
#ninja-slider { width: 500px !important; }
#thumbnail-slider {height: 500px !important;}
.product-detail-related .list-product {     grid-template-columns: repeat(auto-fill,minmax(225px,0fr)); }
}
@media (min-width:768px) and (max-width:991px) { 
.item-image { max-width: 80px; max-height: 80px; }
.box-featured p { font-size: 24px; }

.feature-products {    padding: 1.6vw 0 4vw 10vw; height: 35%;}
.feature-hero {    width: 41vw;    height: 51vw;    position: relative;    background-position: 55% 93%;}
.feature-products {    margin: -2vw 0 0 -10vw;    height: 52vw;    padding: 4vw 0 5vw 11vw;    max-height: 55vw;}
.feature-1 .products img, .feature-3 .products img, .feature-5 .products img, .feature-7 .products img, .feature-9 .products img {    width: 11vw;}
.feature-2 .products img, .feature-4 .products img, .feature-6 .products img, .feature-8 .products img {    width: 15vw;}
.feature-1, .feature-3, .feature-5, .feature-7, .feature-9 {    width: 11vw;    margin: auto 2vw;}
.feature-2, .feature-4, .feature-6, .feature-8 {    width: 15vw;    margin: 0; }
.sort-product p { font-size: 18px; }
.list-product {     grid-template-columns: repeat(auto-fill,minmax(230px,0fr)); }
#ninja-slider { width: 580px !important; }
#thumbnail-slider {height: 580px !important; }

.product-detail-related .list-product { grid-template-columns: repeat(auto-fill,minmax(225px,0fr)); }
}
@media (max-width:767px) {
.item-image, .last-item { display: none !important; }
.block-cate ul { display: block; }
.block-cate ul li { width: 46%;  background: #f2f2f2; padding: 10px; margin: 5px; border: 1px solid #e8e8e8; }
.box-featured { margin-bottom: 10px; }
.box-t-co { margin-bottom: 20px; }
.row-box ul { display: block; }
.row-box ul li { width: 46%;    float: left;    margin: 5px; display: block; }
.row-box ul > .last-box { width: 96%; }
.feature-hero {    background-size: cover;    background-position: bottom;    background-repeat: no-repeat;    width: 100%;    height: 100vw;}
.feature-products {   display: -ms-flexbox;    display: flex;    -ms-flex-pack: distribute;    justify-content: space-around;    -ms-flex-align: center;    align-items: center;    -ms-flex-wrap: wrap;    flex-wrap: wrap;    padding: 5vw 0;    margin: 0;}
.shop-collection h3, .two-columns h3 { font-size: 25px; }
.feature-group {    width: 45%; height: auto;}
.feature-1, .feature-3, .feature-5, .feature-7, .feature-9 { margin: 0 }
.feature-9 { display: none !important; }
.feature-text { height: 120px; }
.box-2col { margin-bottom: 10px; }

.shop-collection .container { display: block; }
.feature-hero { width: 100%; height: 300px; }
.feature-products { overflow: unset; display: flex;  }

.list-product {     grid-template-columns: repeat(auto-fill,minmax(96%,0fr)); }
.product-detail-related .list-product {     grid-template-columns: repeat(auto-fill,minmax(100%,0fr)); }
#ninja-slider { width: 100% !important; }
#ninja-slider div.fs-icon { display: none; }
#thumbnail-slider div.inner ul { display: flex; }
#thumbnail-slider { height: 120px !important; width: 100%; display: none !important; }
#thumbnail-slider-prev, #thumbnail-slider-next { display: none; }
}
